<b>Привет, {{ first_name }} {{ last_name }}! 🌟</b>

<b>Это Ваш личный кабинет. Здесь вы можете:</b>
    <i>1. Просмотреть историю купленных вами товаров.</i>
    <i>2. Отслеживать текущие и завершенные заказы.</i>
    <i>3. Просматривать избранное, адреса доставки и многое другое.</i>

<b>Ваша статистика:</b>
    <i>1. Количество заказов: {{ orders_count }}. 📊</i>
    <i>2. Общая сумма заказов: {{ orders_sum }}₽. 💰</i>
    <i>3. Ваша текущая скидка: PLAINTEXT. 💳</i>

<i>Благодарим за ваши покупки в магазине Balance! 🙌</i>
